/*regra csss padrão
Seletor - quem vc deseja formatar
propriedade - o que vc deseja formatar no seletor 
valor - o que será mudado na propriedade


seletor {
    propriedade: valor;
    propriedade: valor;
}

cor na web - padrão rgb (red green blue)
codigo rgb - cores recebem valores 0 -255
cosigo hexadecimal = números de 0 a 9 - a(10) b(11) c (12) d (13) e (14) f (15)
*/
/* link para o google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}



h1 {
    color:rgb(20, 76, 139);
    font-size: 50px;
}

h2, h3 {
    color: #ff9912;
    font-size: 35px;
}

p {
    color: rgb(14, 65, 14);
    font-size: 16px;
}

h3{
    font-size:  30px;
}